<?xml version='1.0'?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="dk1_right_ros2_control" params="name prefix">

        <!-- Include joint interfaces macro -->
        <xacro:include filename="$(find senseglove_description)/urdf/urdf_helper_macros/joint_interfaces_macro.xacro"/>

        <!-- ros2_control Interface -->
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>senseglove_hardware_interface/SenseGloveHardwareInterface</plugin>
                <param name="glove_name">dk1_right</param>
            </hardware>

            <!-- State Interfaces -->
            <xacro:add_state_interfaces joint_name="r_thumb_mcp"/>
            <xacro:add_state_interfaces joint_name="r_thumb_pip"/>

            <xacro:add_state_interfaces joint_name="r_index_mcp"/>
            <xacro:add_state_interfaces joint_name="r_index_pip"/>

            <xacro:add_state_interfaces joint_name="r_middle_mcp"/>
            <xacro:add_state_interfaces joint_name="r_middle_pip"/>

            <xacro:add_state_interfaces joint_name="r_ring_mcp"/>
            <xacro:add_state_interfaces joint_name="r_ring_pip"/>

            <xacro:add_state_interfaces joint_name="r_pinky_mcp"/>
            <xacro:add_state_interfaces joint_name="r_pinky_pip"/>

            <!-- State and Command Interfaces -->
            <xacro:add_state_and_command_interfaces joint_name="r_thumb_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="r_index_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="r_middle_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="r_ring_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="r_pinky_brake"/>

            <xacro:add_state_and_command_interfaces joint_name="r_thumb_dip"/>
            <xacro:add_state_and_command_interfaces joint_name="r_index_dip"/>
            <xacro:add_state_and_command_interfaces joint_name="r_middle_dip"/> 
            <xacro:add_state_and_command_interfaces joint_name="r_ring_dip"/>   
            <xacro:add_state_and_command_interfaces joint_name="r_pinky_dip"/>      
            
        </ros2_control>
    </xacro:macro>
</robot>