build/
devel/
install/
log/
logs/
venv/

SenseGlove_API/Core/*
SenseGlove_API/Examples/*
SenseGlove_API/.gitignore
SenseGlove_API/README.md

src/hardware_interface/senseglove_hardware/SenseCom/Linux/sessionLog.txt
src/cmake-build-debug/*
src/CMakeLists.txt

src/senseglove/senseglove_finger_distance/src/senseglove_finger_distance/__pycache__
src/senseglove/senseglove_launch/scripts/sessionLog.txt
src/senseglove/senseglove_shared_resources/calibration/*

senseglove_ros_ws.code-workspace

.idea/*
.catkin_tools/*
.vscode/