<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dk1">
  <xacro:arg name="prefix" default="" />

  <!-- Import Dk1 Description Macro -->
  <xacro:include filename="$(find senseglove_description)/urdf/dk1/dk1_right.description.xacro" />

  <!-- Import Dk1 ros2_control Macro -->
  <xacro:include filename="$(find senseglove_description)/ros2_control/dk1/dk1_right.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:dk1_right parent="world" prefix="$(arg prefix)" />

  <xacro:dk1_right_ros2_control name="Dk1RightControl" prefix="$(arg prefix)" />

</robot>
