<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nova">

  <xacro:arg name="prefix"          default="" />
  <xacro:arg name="selected_robot"  default="nova_right" />
  <xacro:arg name="glove_index"     default="0" />
  <xacro:arg name="is_right"        default="true" />
  <xacro:arg name="publish_rate"    default="60" />

  <!-- Import Nova Description Macro -->
  <xacro:include filename="$(find senseglove_description)/urdf/nova/nova_right.description.xacro" />

  <!-- Import Nova ros2_control Macro -->
  <xacro:include filename="$(find senseglove_description)/ros2_control/nova/nova_right.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:nova_right parent="world" prefix="$(arg prefix)" />

  <xacro:nova_right_ros2_control
    name="NovaRightControl"
    prefix="$(arg prefix)"
    selected_robot="$(arg selected_robot)"
    glove_index="$(arg glove_index)"
    is_right="$(arg is_right)"
    publish_rate="$(arg publish_rate)" />

</robot>
