#!/usr/bin/env python3
PACKAGE = "senseglove_haptics"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("thumb_ffb",  double_t, 0, "Force Feedback for the thumb finger",   0.0, 0.0, 100.0)
gen.add("index_ffb",  double_t, 0, "Force Feedback for the index finger",   0.0, 0.0, 100.0)
gen.add("middle_ffb", double_t, 0, "Force Feedback for the middle finger",  0.0, 0.0, 100.0)
gen.add("ring_ffb",   double_t, 0, "Force Feedback for the ring finger",    0.0, 0.0, 100.0)
gen.add("pinky_ffb",  double_t, 0, "Force Feedback for the pinky finger",   0.0, 0.0, 100.0)

gen.add("thumb_buzz",  double_t, 0, "Vibration Feedback for the thumb finger",   0.0, 0.0, 100.0)
gen.add("index_buzz",  double_t, 0, "Vibration Feedback for the index finger",   0.0, 0.0, 100.0)
gen.add("middle_buzz", double_t, 0, "Vibration Feedback for the middle finger",  0.0, 0.0, 100.0)
gen.add("ring_buzz",   double_t, 0, "Vibration Feedback for the ring finger",    0.0, 0.0, 100.0)
gen.add("pinky_buzz",  double_t, 0, "Vibration Feedback for the pinky finger",   0.0, 0.0, 100.0)

gen.add("thumper_buzz",  double_t, 0, "Vibration Feedback for the Thumper",   0.0, 0.0, 100.0)

gen.add("palm_index_buzz", double_t, 0, "Vibration Feedback for the palm_index side",  0.0, 0.0, 100.0)
gen.add("palm_pinky_buzz", double_t, 0, "Vibration Feedback for the palm_pinky side",    0.0, 0.0, 100.0)
gen.add("palm_strap",      double_t, 0, "Active Strap Squeeze",   0.0, 0.0, 100.0)

gen.add("reset", bool_t, 0, "A Boolean parameter to reset", False)

exit(gen.generate(PACKAGE, "senseglove_haptics_node_dynamic", "HapticSlider"))
