<?xml version='1.0'?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="nova_left_ros2_control" params="name prefix selected_robot glove_index is_right publish_rate">

        <!-- Include joint interfaces macro -->
        <xacro:include filename="$(find senseglove_description)/urdf/urdf_helper_macros/joint_interfaces_macro.xacro"/>

        <!-- ros2_control Interface -->
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>senseglove_hardware_interface/SenseGloveHardwareInterface</plugin>
                <param name="selected_robot">${selected_robot}</param>
                <param name="glove_index">${glove_index}</param>
                <param name="is_right">${is_right}</param>
                <param name="publish_rate">${publish_rate}</param>
            </hardware>

            <!-- State Interfaces -->
            <xacro:add_state_interfaces joint_name="l_thumb_mcp"/>
            <xacro:add_state_interfaces joint_name="l_thumb_pip"/>

            <xacro:add_state_interfaces joint_name="l_index_mcp"/>
            <xacro:add_state_interfaces joint_name="l_index_pip"/>

            <xacro:add_state_interfaces joint_name="l_middle_mcp"/>
            <xacro:add_state_interfaces joint_name="l_middle_pip"/>
            <xacro:add_state_interfaces joint_name="l_middle_dip"/>

            <xacro:add_state_interfaces joint_name="l_ring_mcp"/>
            <xacro:add_state_interfaces joint_name="l_ring_pip"/>
            <xacro:add_state_interfaces joint_name="l_ring_dip"/>

            <xacro:add_state_interfaces joint_name="l_pinky_brake"/>
            <xacro:add_state_interfaces joint_name="l_pinky_mcp"/>
            <xacro:add_state_interfaces joint_name="l_pinky_pip"/>
            <xacro:add_state_interfaces joint_name="l_pinky_dip"/>

            <!-- Command Interfaces -->
            <xacro:add_command_interfaces joint_name="l_thumper"/>

            <!-- State and Command Interfaces -->
            <xacro:add_state_and_command_interfaces joint_name="l_thumb_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="l_index_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="l_middle_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="l_ring_brake"/>
            <xacro:add_state_and_command_interfaces joint_name="l_thumb_dip"/>
            <xacro:add_state_and_command_interfaces joint_name="l_index_dip"/>            
            
        </ros2_control>
    </xacro:macro>
</robot>