<launch>

    <arg name="both" value="$(eval left and right)"/>

    <!-- Check if robot is Dk1 -->
    <group if="$(arg use_dk)">
            <include file="$(find senseglove_hardware_interface)/launch/hardware.launch" if="$(eval left)">
                <arg name="robot" value="dk1_left"/>
                <arg name="gloveIndex" value="0"/>
                <arg name="isRight" value="false"/>
            </include>

            <include file="$(find senseglove_hardware_interface)/launch/hardware.launch" if="$(eval both)">
                <arg name="robot" value="dk1_right"/>
                <arg name="gloveIndex" value="1"/>
                <arg name="isRight" value="true"/>
            </include>

            <include file="$(find senseglove_hardware_interface)/launch/hardware.launch" if="$(eval both==false and right==true)">
                <arg name="robot" value="dk1_right"/>
                <arg name="gloveIndex" value="0"/>
                <arg name="isRight" value="true"/>
            </include>
    </group>

    <!-- Check if robot is Nova -->
    <group if="$(arg use_nova)">
            <include file="$(find senseglove_hardware_interface)/launch/hardware.launch" if="$(eval left)">
                <arg name="robot" value="nova_left"/>
                <arg name="gloveIndex" value="0"/>
                <arg name="isRight" value="false"/>
            </include>

            <include file="$(find senseglove_hardware_interface)/launch/hardware.launch" if="$(eval both)">
                <arg name="robot" value="nova_right"/>
                <arg name="gloveIndex" value="1"/>
                <arg name="isRight" value="true"/>
            </include>

            <include file="$(find senseglove_hardware_interface)/launch/hardware.launch" if="$(eval both==false and right==true)">
                <arg name="robot" value="nova_right"/>
                <arg name="gloveIndex" value="0"/>
                <arg name="isRight" value="true"/>
            </include>
    </group>
</launch>